body {
  background-color: rgb(245, 245, 245);
  color: #fff;
}

h1 {
  font-weight: 700;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 12px;
  margin-top: -20px;
}

.app-body {
  background-image: linear-gradient(to top, #7a89c1 0%, #ffdddd 90%);
  max-width: 800px;
  border: white solid;
  padding: 30px;
  margin: 50px auto;
  border-radius: 10px;
}

.main-weather-icon {
  width: 200px;
  height: 200px;
}

.main-temperature {
  font-size: 60px;
}

.unit {
  position: relative;
  bottom: 25px;
}

.weather {
  padding-top: 40px;
  padding-right: 50px;
  text-align: right;
}

.local-info {
  padding-top: 15px;
}

.detail-info {
  position: relative;
  bottom: 75px;
  left: 205px;
  font-size: 10px;
}

.days-info {
  text-align: center;
  margin-bottom: 20px;
}

.temperature-weather-info .active {
  color: #fff;
  cursor: default;
}

.temperature-weather-info .active:hover {
  text-decoration: none;
}
