body {
  background-color: rgb(245, 245, 245);
  color: #fff;
}

h1 {
  font-weight: 700;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 12px;
  margin-top: -20px;
}

.search-button {
  color: rgb(59, 59, 59);
}

.app-body {
  background-image: linear-gradient(to top, #7a89c1 0%, #ffdddd 90%);
  max-width: 750px;
  border: white solid;
  padding: 30px;
  margin: 50px auto;
  border-radius: 10px;
}

.temperature-weather-info {
  padding: 20px;
}

.main-weather-icon {
  width: 150px;
  height: 150px;
}

.main-temperature {
  font-size: 70px;
}

.unit {
  position: relative;
  bottom: 35px;
}

.weather {
  padding-top: 40px;
  padding-right: 50px;
  text-align: right;
}

.local-info {
  padding-top: 10px;
}

.detail-info {
  position: relative;
  bottom: 55px;
  left: 170px;
  font-size: 11px;
}

.weather-forecast {
  text-align: center;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.15);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 0;
}

.forecast-temperatures {
  font-size: 15px;
}

.forecast-temp-min {
  opacity: 0.8;
}

.date-time {
  font-size: 18px;
}

.description {
  font-size: 15px;
  color: rgb(59, 59, 59);
  margin-top: -3px;
  text-transform: capitalize;
}

.temperature-weather-info .active {
  color: #fff;
  cursor: default;
}

.temperature-weather-info .active:hover {
  text-decoration: none;
}
